.blog-entries {
	.blog-entries-item{
		color: $color_grey;
		margin-bottom: 25px;
		.ss-item-thumb {
			img {
				width: 100%;
			}
		}
		.ss-item-title {
			border: 1px solid $color_light_grey;
		}
		.ss-item-desc {
			border: 1px solid $color_light_grey;
			border-top: 0;
		}
		.ss-item-share {
			border: 1px solid $color_light_grey;
			border-top: 0;
			.ss-item-caption {
				display: table;
				float: left;
				color: $color_light_grey;
				height: 45px;
				&.thin {
					height: 34px;
				}
				span {
					display: table-cell;
					vertical-align: middle;
				}
			}
			ul{
				display: inline-block;
				float: right;
				li {
					float: left;
					a {
						padding: 10px;
						text-align: center;
						display: block;
						color: $color_light_grey;
						width: 50px;
						height: 45px;
						&.thin {
							height: 34px;
							padding: 5px;
						}
						border-left: 1px solid $color_light_grey;
						&:hover{
							color: $color_grey;
						}
					}
				}
			}
			
		}
	}
}