/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
$screen-xs-min: 768px;
$screen-sm-min: 992px;
$screen-md-min: 1170px;
$screen-lg-min: 1170px;